body {
  background-image: url("assets/club.webp");
  background-size: cover;
  height: 100vh;
}

img {
  height: 450px;
  translate: 500px 0px;
  border-radius: 20px;
  padding: 10px;
  animation: flipAnimation 1s infinite;
}

.specialCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
a {
  animation: coolAnimation 3s infinite;
}
h1 {
  font-size: 50px;
}

p{
  font-size: 35px;
  color: white;
}

button{
  text-align: center;
  font-size: 20px;
}

@keyframes coolAnimation {
  0% {
    color: red;
  }
  33% {
    color: green;
  }
  66% {
    color: blue;
  }
  100% {
    color: red;
  }
}

@keyframes flipAnimation {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  1% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  49% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

